!!!
%head
  %title mammogr.am
  %link{:rel => 'stylesheet', :href => '/style.css', :type => 'text/css'}
%body
  %h1 mammogr.am
  %ul
    - @photos.each do |photo|
      %li
        - if photo.link_url && !photo.link_url.empty?
          %a{:href => photo.link_url}
            %img{:src => photo.image_url}
          %br
          by
          = photo.username