* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2f2c44;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  color: #9a8a69;
}

h1 {
  text-indent: -9999px;
  width: 340px;
  height: 50px;
  margin: 10px auto 0;
  background-image: url(/logo.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}